#coverDiv {
  width: auto;
}

#homeCover {
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:400px) {
  #homeCover {
    height: 60vh
  }

}

#app_section {
  padding: 10px;
  margin: 10px;

}