#coverDiv {
  width: auto;
}

#homeCover {
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:400px) {
  #homeCover {
    height: 60vh
  }

}

.btn {
  /* border-bottom: 2px solid white; */
  color: rgb(184, 150, 65);
  margin-bottom: 20px;
}

.btn:hover {
  color: black;
  background-color: rgb(184, 150, 65);
}

#app_section {
  padding: 10px;
  margin: 10px;

}