.projectDetails {
  list-style-type: none;
}

.projectDetails li {
  padding: 20px;
}

#projectDiv {
  width: 66%;
  margin: auto;
  padding-bottom: 70px;
  overflow-y: hidden;
  overflow-x: scroll;

}

@media screen and (max-width:400px) {
  #projectCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #projectDiv {
    width: auto;
    padding-bottom: 10px;
  }

  .projectDetails li {
    padding: 0px;
  }

}

#projectDiv ul h3 {
  color: rgb(184, 150, 65)
}

/* Remove card borders */
.bg-secondary {
  --bs-bg-opacity: 0;
  display: inline-block;
  flex: 0 0 auto;
}

#readBtn {
  float: right;
  color: white;
  border: none;
}

#projectDiv ul li {

  margin: auto;
  text-align: center;

}

.allLink {
  text-decoration: none;
  color: white;
}