.projectDetails {
  list-style-type: none;
}

.projectDetails li {
  padding: 20px;

}

#modelDiv {
  width: 66%;
  margin: auto;
  padding-bottom: 70px;
}

#modelDiv ul h3 {
  color: rgb(184, 150, 65)
}

/* Remove card borders */
.bg-secondary {
  --bs-bg-opacity: 0;
}

#readBtn {
  float: right;
  color: white;
  border: none;
}

#modelDiv ul li {

  margin: auto;
  text-align: center;
  float: center;
}